@{
    ViewData["Title"] = "Vehicle Management";
}

<h1 style="color: #d4ff00;">NOTE 2</h1>
<p>Đây là nội dung chính của trang Vehicle.</p>

@section RightContent {
    <h5 class="right-panel-title">Vehicle Sidebar</h5>
    <p>Thông tin phụ của Note 2 nằm ở bên phải này.</p>
}
@section Styles {
    <link rel="stylesheet" href="~/css/vehicle.css" asp-append-version="true" />
}