@{
    ViewData["Title"] = "Station Management";
}

<h1 style="color: #d4ff00;">NOTE 3</h1>
<p>Đây là nội dung chính của trang Station.</p>

@section RightContent {
    <h5 class="right-panel-title">Station Sidebar</h5>
    <p>Thông tin phụ của Note 3 nằm ở bên phải này.</p>
}
@section Styles {
    <link rel="stylesheet" href="~/css/station.css" asp-append-version="true" />
}