* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #0f1225;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #141735;
    padding: 20px;
}

.logo {
    color: #c7ff5e;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #aaa;
    transition: 0.3s;
}

    .sidebar li:hover {
        background: #2a2f5a;
        color: white;
    }

    /* ACTIVE */
    .sidebar li.active {
        background: #c7ff5e;
        color: black;
        font-weight: bold;
    }

/* Main */
.main {
    flex: 1;
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

    .header input {
        flex: 1;
        padding: 10px;
        border-radius: 8px;
        border: none;
        background: #1c2045;
        color: white;
    }

    .header button {
        background: #c7ff5e;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
    }

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Card */
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1c2045;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
}

    .card:hover {
        transform: scale(1.02);
    }

    .card img {
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }

.info {
    flex: 1;
    margin-left: 15px;
}

.card button {
    background: #c7ff5e;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}
